@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url(./AbrilFatface-Regular.eot);
  src: url(./AbrilFatface-Regular.eot?#iefix) format('embedded-opentype'),
       url(./AbrilFatface-Regular.otf) format('otf'),
       url(./AbrilFatface-Regular.svg#AbrilFatface-Regular) format('svg'),
       url(./AbrilFatface-Regular.woff) format('woff'),
       url(./AbrilFatface-Regular.ttf) format('truetype'),
       url(./AbrilFatface-Regular.woff2) format('woff2');
}
